{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
Главная
{% endblock title %}

{% block content %}
{% get_media_prefix as media %}
<section class="homepage" data-media-url="{% get_media_prefix %}">
  <div class="homepage__body _container">
    <div class="section__content homepage homepage__content">
      <div class="video-bg">
        <video src="{% static 'video/play.mp4' %}" type="video/mp4" autoplay muted loop></video>
        <div class="effects"></div>
        <div class="video-bg__content">
            <h1 class="homepage">Любимые<br>
                игрушки у тебя<br>
                дома</h1>
            <button><a href="{# catalog:all #}">Посмотреть товары</a></button>
        </div>
    </div>
    </div>
  </div>
</section>
{% endblock content %}