{% extends "base.html" %}
{% load i18n %}


{% block title %}
  Вход
{% endblock title %}

{% block content %}
<section class="login">
  <div class="login__body _container">
    <h1>Вход</h1>
    <div class="section__content login__content">
      {% if form.is_multipart %}
        <form class="form modal-form" enctype="multipart/form-data" method="post">
      {% else %}
        <form class="form modal-form" method="post">
      {% endif %}
        {% csrf_token %}
      
        {% include "includes/form.html" %}
          
        <div class="form__button">
          {% include "includes/submit_btn.html" with value="Войти" %}
          <a class="form__link" href="{% url "users:signup" %}">Нет аккаунта? <span class="color_blue">Зарегистрироваться</span></a>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock content %}
