:root {
	--main: #333;
	--main-rgb: 51, 51, 51;
	--litle-dark: #ffffff;
	--white: white;
	color-scheme: light;
    --grey: white;
    --shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.dark {
	--main: #fff;
	--main-rgb: #18191a;
	color-scheme: dark;
	--litle-dark: #242526;
	--orange: white;
	--white: white;
    --grey: rgb(39, 39, 39);
    --shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}